<?xml version="1.0" encoding="UTF-8"?>
<phpunit
        defaultTestSuite="AllTests"

        backupStaticAttributes="false"

        cacheTokens="false"
        colors="true"
        convertErrorsToExceptions="true"
        convertNoticesToExceptions="true"
        convertWarningsToExceptions="true"

        processIsolation="false"
        stopOnError="false"
        stopOnFailure="false"
        stopOnIncomplete="false"
        stopOnSkipped="false"

        verbose="false"
>
    <testsuites>
        <testsuite name="AllTests">
            <directory suffix="Test.php">Tests</directory>
        </testsuite>
    </testsuites>
</phpunit>
